<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ListaPessoas</display-name>
    <servlet-name>ListaPessoas</servlet-name>
    <servlet-class>org.libertas.pessoas.ListaPessoas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaPessoas</servlet-name>
    <url-pattern>/ListaPessoas</url-pattern>
  </servlet-mapping>
  <display-name>_Aula_03_Projeto_MVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AnimalServelt2</display-name>
    <servlet-name>AnimalServelt2</servlet-name>
    <servlet-class>org.libertas.AnimalServelt2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnimalServelt2</servlet-name>
    <url-pattern>/AnimalServelt2</url-pattern>
  </servlet-mapping>
</web-app>