/* * {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

header{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.imagemInicio{
    display: flex;
    justify-content: center;
}

.topoMenu{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

}

.topicos{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}


.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 401px;
    border-radius: 20px;
    }
    
.caixaDev{
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 200px;
    border-radius: 20px;
    }

.lateral{
    display: none;
}

.rodape{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 800px;
    height: 125px;
    border-radius: 20px;
}

@media only screen and (max-width:900px) {
    .rodape{
        display: flex;
        justify-content:space-around;
        align-items: self-start;
        flex-direction: column;
        width: 400px;
        height: 400px;
        padding-left: 50px ;
    }
}

@media only screen and (max-width: 500px) {
    .topicos{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .margem{
        margin: 15px;
    }

    .perfis{
        margin-bottom: 20px;
    }

    .topoMenu{
        justify-content: left;
    }

    .lateral{
        display: block;
    }

    .inicio{
        filter:brightness(50%) invert() grayscale();
    }


    .ocultar500{
        display: none;
    }

    .rodape{
        display: flex;
        justify-content:space-around;
        align-items: self-start;
        flex-direction: column;
        width: 300px;
        height: 400px;
        padding-left: 50px ;
        padding-right: 50px;
        padding-top: 20px;
    }


    .menuLateral{
        padding-top: 10px;
    }

    .menuLateral a {
        font-size: 18px;
    }

    .tracinhos{
        display: show;
        display: flex;
        justify-content: left;
    }

    .tracinhos:hover{
        cursor: pointer;
    }

    .menuLateral{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 100px;
        transition: .5s;
        animation: ease-in-out;

    }
    

    .menuLateral a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        display: block;
        transition: 0.3s;
    }
    
    .menuLateral a:hover{
        color: #f1f1f1;
    }
    
    .menuLateral .fecharBarra{
        position: absolute;
        top: 20px;
        right: 50px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    #main{
        transition: margin-left .5s;
        padding: 20px;
    
    }

    .maior{
        font-size: 25px;
    }




    .topoMenu{
        width: 100%;
        position: fixed;    
        top: 0px;
        left: 0px;
        justify-content:space-around;
        margin-top: 0;
    }



    .caixaDev{
        display: flex;
        justify-content: left;
    }
}




footer{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}





.fundoProdutos{
    background-image: url();
    background-size: cover;
}
.fundoPiscina{
    background-image: url(https://images.pexels.com/photos/8332960/pexels-photo-8332960.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
}

.principal{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.rodapeCentralizar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.rodapeEleicoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 125px;
    color: white;
    background: rgba(27, 11, 52, 0.8);
    border-radius: 20px;
}

.rodapeProdutos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 125px;
    color: white;
    background: rgba(154, 10, 3, 0.5);
    border-radius: 20px;
}

.rodapePiscina{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 125px;
    color: white;
    background: rgba(12, 58, 63, 0.5);
    border-radius: 20px;
}

.rodapeIndex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 125px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}



.CaixaEleicoes{
    width: 400px;
    height: 250px;
    color: white;
    background: rgba(27, 11, 52, 0.8);
    border-radius: 20px;
}
.CaixaProdutos{
    width: 400px;
    height: 300px;
    color: white;
    background: rgba(154, 10, 3, 0.5);
    border-radius: 20px;
}
.CaixaPiscina{
    width: 400px;
    height: 300px;
    color: white;
    background: rgba(12, 58, 63, 0.5);
    border-radius: 20px;
}

.nav{
    text-align: center;
}

.nav li{
display:inline;
}

.nav a{
    display:inline-block;
}

.barraItens {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(54, 35, 11, 0.5);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 498px;
  }
  

  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  






  .ligadoImc {
    background-color: #dd9ba6;
  }

  .ligadoEleicoes {
    background-color: #6848b3;
  }

  .ligadoProdutos {
    background-color: #d53e43;
  }

  .ligadoPiscina {
    background-color: #00cdb8;
  }

  .imc{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(116, 79, 85, 0.5);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 498px;
  }
  
  .piscina{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(12, 58, 63, 0.5);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  .eleicoes{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(27, 11, 52, 0.8);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: auto;
  }


.produtos{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(154, 10, 3, 0.5);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  width: auto;
}


table{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.leide{
    position: flex;
    justify-items: baseline;
    align-items: left;
    width: 50px;
    border-radius: 100%;
}

.jorge{
    position: flex;
    justify-items: baseline;
    align-items: center;
    width: 50px;
    border-radius: 100%;
}

.carlos{
    position: flex;
    justify-items: baseline;
    align-items: center;
    width: 50px;
    border-radius: 100%;
}

input[type=number] {
    border: none;
    border-radius: 20px;
    background-color: #d9d9d9;
    color: #898989;
    align-items: center;
    justify-content:center;
    width: 90px;
    height: 20px;
  }

select{
    border: none;
    border-radius: 20px;
    background-color: #d9d9d9;
    color: #898989;
    align-items: center;
    justify-content:center;
    
    width: 100px;
    height: 20px;
}

.botao{
    border-radius: 20px;
    cursor: pointer;
    height: 30px;
    width: 80px;
}



.botaoImc{
    border: solid #dd9ba6 ;
    background: rgba(54, 35, 11, 0.0);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    height: 30px;
    width: 80px;

}

.botaoImc:hover{
    background-color: #dd9ba6;
}

.botaoEleicoes{
    border: solid #6848b3 ;
    background: rgba(54, 35, 11, 0.0);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    height: 30px;
    width: 80px;

}

.botaoEleicoes:hover{
    background-color: #6848b3;
}

.botaoProdutos{
    border: solid #d53e43 ;
    background: rgba(54, 35, 11, 0.0);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    height: 30px;
    width: 80px;

}

.botaoProdutos:hover{
    background-color: #d53e43;
}

.botaoPiscina{
    border: solid #00cdb8 ;
    background: rgba(54, 35, 11, 0.0);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    height: 30px;
    width: 80px;

}

.botaoPiscina:hover{
    background-color: #00cdb8;
}

.cartao{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(27, 11, 52, 0.8) 0px 7px 29px 0px;
    position: relative;
    cursor: pointer;
}

.cartao::before{
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(transparent, black);
    opacity: 0.6;
    transition: all 0.35s ease-in-out 0ms;
    border-radius: 18px;
    z-index: 1;
}

.cartaoImagem{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 0;
    transition: transform 250ms ease-in-out 0ms;
}

.cartao:hover::before{
    opacity: 0.8;
}

.cartao:hover .cartaoImagem{
    transform: scale(1.1);
}

h5{
    font-size:19px;
    margin: 8px 0;
}

p, h5{
    color: white;
    /* font-weight:bold; */
    z-index: 2;
}

p{
    font-size: 13px;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.tabelaIndex{
    border-spacing: 30px;
}
