.leide{
    color: white;
    background-color: #2f65ed;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    }
.mariapaula{
    color: white;
    background-color: greenyellow;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    }