<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>OServidor</display-name>
    <servlet-name>OServidor</servlet-name>
    <servlet-class>org.libertas.OServidor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OServidor</servlet-name>
    <url-pattern>/OServidor</url-pattern>
  </servlet-mapping>
  <display-name>_Aula_01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Exemplo2</display-name>
    <servlet-name>Exemplo2</servlet-name>
    <servlet-class>org.libertas.Exemplo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exemplo2</servlet-name>
    <url-pattern>/Exemplo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fibonacci</display-name>
    <servlet-name>Fibonacci</servlet-name>
    <servlet-class>org.libertas.Fibonacci</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fibonacci</servlet-name>
    <url-pattern>/Fibonacci</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Investimento</display-name>
    <servlet-name>Investimento</servlet-name>
    <servlet-class>org.libertas.Investimento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Investimento</servlet-name>
    <url-pattern>/Investimento</url-pattern>
  </servlet-mapping>
</web-app>